/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/dualrnaseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// --------------
// Pipeline manifest
// --------------
manifest {
    name            = 'nf-core/dualrnaseq'
    author          = """Bozena Mika-Gospodorz and Regan Hayward"""
    homePage        = 'https://github.com/nf-core/dualrnaseq'
    description     = """Dual RNA-seq pipeline"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '2.0dev'
    doi             = ''
}



// Global default params, used in configs
params {



    // --------------
    // Input/Output options
    // --------------
    input                      = null //CHANGE TO DEFAULT LOCATION
    outdir                     = null


    // --------------
    // Run workflows
    // --------------
    // A default run will include the following software:
    // Fastqc, Cutadapt, Fastqc (after trimming), Salmon SA, mapping stats
    // To add or remove software, change the following flags/params
    skip_tools                 = null

//fasta_host = null
    // --------------
    // Reference files
    // --------------
    
    // Names of the organisms
    host_organism = 'host' // Change to custom name if desired, ie Human_hela_cells
    pathogen_organism = 'pathogen' // Change to custom name if desired, ie Salmonella_SL1344

    // Host
    host_fasta_genome           = null
    host_fasta_transcripts      = null
    host_gff                    = null

    // Pathogen
    pathogen_fasta_genome       = null
    pathogen_fasta_transcripts  = null
    pathogen_gff                = null

    // Misc
    //genome                     = null


    // --------------
    // Features to extract from reference files - MOVE TO EACH PIECE OF SOFTWARE
    // --------------

    // Host
    host_gff_attribute                              = 'gene_id'
    gene_feature_gff_to_quantify_host               = ["exon", "tRNA"]
    extract_annotations_host_salmon_feature         = 'exon' //'quant'
    extract_annotations_host_salmon_attribute       = 'Parent'  // currently it is required to pass value with capital letter
    

    // Pathogen
    pathogen_gff_attribute     = 'locus_tag'
    gene_feature_gff_to_quantify_pathogen = ["gene", "sRNA", "tRNA", "rRNA"]


    // Misc
    // read_transcriptome_fasta_host_from_file = false
    // read_transcriptome_fasta_pathogen_from_file = false


    // --------------
    // iGenomes
    // --------------
    igenomes_base              = 's3://ngi-igenomes/igenomes'
    igenomes_ignore            = false
    igenome = null
    ifasta = null
    

    // --------------
    // Software options
    // -------------- 
    
    // To output various mapping stats
    mapping_stats = true


    // Fastqc
    fastqc_args = null
    
    // Cutadapt
    cutadapt_args = null  // additional params to send to cutadapt, enclosed within ''

    // Salmon general
    libtype = 'A'
    gene_feature_gff_to_create_transcriptome_host   = ["exon", "tRNA"]
    gene_attribute_gff_to_create_transcriptome_host = "transcript_id"
    gene_feature_gff_to_create_transcriptome_pathogen = ["gene", "sRNA", "tRNA", "rRNA"]
    gene_attribute_gff_to_create_transcriptome_pathogen = "locus_tag"
    

    // Salmon selective alignment
    run_salmon_SA = true
    salmon_sa_index_args = '-k 21'
    salmon_sa_args = '--softclipOverhangs'

    // Salmon alignment based mode
    run_salmon_AB = false
    salmon_ab_args = null

    // STAR genome alignment
    run_star = false

    // Run HTSeq
    run_htseq = false
    htseq_quantifier = 'quant'


    // --------------
    // STAR parameters
    // --------------
    outSAMunmapped             = 'Within' // "By default, unmapped reads are saved within the main BAM file. To disable, change to 'None'
    sjdbGTFfeatureExon         = 'quant' // quant value in GFF 3rd column
    sjdbGTFtagExonParentTranscript = 'parent' // parent attribule in GFF - last column
    quantMode                  = 'TranscriptomeSAM' // Create a transcriptome Bam (to use with Salmon)
    quantTranscriptomeBan      = 'Singleend' // Regarding transcriptome alignments - allowing for insertions, deletions and soft-clips (Singleend option). To prohibit this behaviour, specify IndelSoftclipSingleend
    limitBAMsortRAM            = 0 // Option to limit RAM when sorting BAM file. If 0, will be set to the genome index size, which can be quite large when running on a desktop or laptop

    

    // --------------
    // MultiQC options
    // -------------- 
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // --------------
    // Boilerplate options
    // --------------
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true  // Schema validation default options
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'


    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // --------------
    // Config options
    // --------------
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null

}


// --------------
// Custom args to each piece of software
// --------------

// putting this here as got an error with trying to pass the args to the cutadapt module from dualrnaseq.nf
// kept getting this error:  Process `NFCORE_DUALRNASEQ:DUALRNASEQ:CUTADAPT` declares 1 input channel but 2 were specified
// tried [] brackets, but to no avail
// for example:
// CUTADAPT([INPUT_CHECK.out.reads]) {
//         task.ext.args = params.cutadapt_params ?: ''
//     }
process {
    withName: 'CUTADAPT' {
        ext.args = params.cutadapt_args ?: ''
    }

    withName: 'FASTQC' {
        ext.args = params.fastqc_args ?: ''
    }

    withName: 'FASTQC_AFTER_TRIMMING' {
        ext.args = params.fastqc_args ?: ''
    }
}


// --------------
// Load base.config by default for all pipelines
// --------------
includeConfig 'conf/base.config'

// --------------
// Load nf-core custom profiles from different Institutions
// --------------
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// --------------
// Load nf-core/dualrnaseq custom profiles from different institutions.
// --------------

// Warning: Uncomment only if a pipeline-specific instititutional config already exists on nf-core/configs!
// try {
//   includeConfig "${params.custom_config_base}/pipeline/dualrnaseq.config"
// } catch (Exception e) {
//   System.err.println("WARNING: Could not load nf-core/config/dualrnaseq profiles: ${params.custom_config_base}/pipeline/dualrnaseq.config")
// }



// --------------
// Profiles
// --------------
profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 16
        executor.memory        = 60.GB
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
    test_hackathon { includeConfig 'conf/test_hackathon.config' }

}


// --------------
// Load igenomes.config if required
// --------------
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}


// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// --------------
// Env variables
// --------------
// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// --------------
// Capture exit codes from upstream processes when piping
// --------------
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}


// --------------
// Load modules.config for DSL2 module specific options
// --------------
includeConfig 'conf/modules.config'


// --------------
// Function to ensure that resource requirements don't go beyond
// a maximum limit
// --------------
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

