/*
 * -------------------------------------------------
 *  Nextflow config file for executor parameters
 * -------------------------------------------------
 * Defines an executor where a pipeline is run.
 */


profiles {
	'cluster' {
		executor.name = 'sge'
		executor.queueSize = 3
		executor.jobName = "dual_rna_seq"
		process.clusterOptions='-l arch=linux-x64 -b n -q all.q -e /vol/projects/bmikagos/Dual_RNA_seq/logs/ -o /vol/projects/bmikagos/Dual_RNA_seq/logs/'
		process.penv = 'multislot'
                singularity.cacheDir = "/vol/cluster-data/bmikagos/"
		workDir = "/vol/projects/bmikagos/Dual_RNA_seq/work"
	}
	'local' {
		process.executor = 'local'
		executor.queueSize = 6
       }
}



