/*
 * -------------------------------------------------
 *  Nextflow config file for reference paths
 * -------------------------------------------------
 * Defines reference genomes, 
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */


params {
  genomes {
    'GRCh38' {
      fasta_host  = "references/human/GRCh38.p13.genome.fa"
      gff_host = "references/human/gencode.v33.chr_patch_hapl_scaff.annotation.gff3"
      gff_host_tRNA = "references/human/gencode.v33.tRNAs.gff3"
      transcriptome_host = "references/human/gencode.v31.transcripts.fa"
    }
    'SL1344' {
      fasta_pathogen  = "references/Salmonella/*.fasta"
      gff_pathogen = "references/Salmonella/Salmonella_combined_BMG3.gff"
      transcriptome_pathogen = "references/Salmonella/Salmonella_transcript_combined2.fasta"
      gbk_pathogen = "references/Salmonella/Salmonella_combined.gbk"
    }
}
// Optional - default genomes. Ignored if --genome_host 'OTHER-GENOME' and --genome_pathogen 'OTHER-GENOME' specified on command line
genome_host = 'GRCh38'
genome_pathogen = 'SL1344'
}

