/*
 * -------------------------------------------------
 *  Nextflow config file for reference paths
 * -------------------------------------------------
 * Defines reference genomes, without using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */


params {
  genomes {
    'GRCm38' {
      fasta_host  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/mouse/GRCm38.p6.genome.fa"
      gff_host = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/mouse/gencode.vM24.chr_patch_hapl_scaff.annotation.gff3"
      gff_host_tRNA = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/mouse/gencode.vM24.tRNAs.gff3"
      transcriptome_host = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/mouse/gencode.vM22.transcripts.fa"
    }
    'GRCh38' {
      fasta_host  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/human/GRCh38.p13.genome.fa"
      gff_host = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/human/gencode.v33.chr_patch_hapl_scaff.annotation.gff3"
      gff_host_tRNA = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/human/gencode.v33.tRNAs.gff3"
      transcriptome_host = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/human/gencode.v31.transcripts.fa"
    }
    'SL1344' {
      fasta_pathogen  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Salmonella/genome_fasta_file/*.fasta"
      gff_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Salmonella/Salmonella_combined_BMG3.gff"
      transcriptome_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Salmonella/Salmonella_transcript_combined2.fasta"
      gbk_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Salmonella/Salmonella_combined.gbk"
    }
    'Mtb' {
      fasta_pathogen  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Mtb/*.fasta"
      gff_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Mtb/*.gff"
  }
    'Streptococcus_pneumoniae_d39' {
      fasta_pathogen  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Streptococcus_pneumoniae_d39/Streptococcus_pneumoniae_d39.ASM1436v1.dna.chromosome.Chromosome.fa"
      gff_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Streptococcus_pneumoniae_d39/Streptococcus_pneumoniae_d39.ASM1436v1.46.gff3"
  }
    'Chlamydia' {
      fasta_pathogen  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/chlamydia/chlamydia.fasta"
      gff_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/chlamydia/chlamydia.gff"
  }
    'UT176' {
      fasta_pathogen  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/UT176/UT176.fasta"
      gff_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/UT176/UT176.gff3"
  }
    'Karp' {
      fasta_pathogen  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Karp/Karp.fasta"
      gff_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Karp/Karp.gff3"
  }
    'Mycobacterium_leprae' {
      fasta_pathogen  = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Mycobacterium_leprae_Br4923/Mycobacterium_leprae_Br4923.fasta"
      gff_pathogen = "/vol/projects/bmikagos/Dual_RNA_seq_data/references/Mycobacterium_leprae_Br4923/Mycobacterium_leprae_Br4923.gff3"
  }
    "Bacteroides_thetaiotaomicron_VPI-5482" {
      fasta_pathogen = "/vol/projects/gprezza/dualrnaseq/genomes/bacteroides_thetaiotaomicron_chromosome_plasmid.fasta"
      gff_pathogen = "/vol/projects/gprezza/dualrnaseq/annotations/bacteroides_thetaiotaomicron_plus_sRNAs.gff3"
  }
}
// Optional - default genome. Ignored if --genome_host 'OTHER-GENOME' and --genome_pathogen 'OTHER-GENOME' specified on command line

}

