/*
 * -------------------------------------------------
 *  Nextflow config file for host/pathogen reference paths
 * -------------------------------------------------
 * This file allows you to define host and pathogen references and create a permanent link to the files. 
 * Below, we show the general style that should be used. This file can be populated with a large number of different hosts and pathogens.
 * For an example usage: to use the human and salmonella references here, add --genome_host GRCh38 --genome_pathogen SL1344 to the command line
 * Annotation files are required to be in the GFF3 format - not GTF
 */

params {
  genomes {
    'GRCh38' {
      fasta_host          = "path_to_references/human/GRCh38.genome.fa"
      gff_host            = "path_to_references/human/GRCh38.annotation.gff3"
      gff_host_tRNA       = "path_to_references/human/GRCh38.gencode.tRNAs.gff3"
      transcriptome_host  = "path_to_references/human/GRCh38.gencode.transcripts.fa"
    }

    'SL1344' {
      fasta_pathogen      = "path_to_references/Salmonella/SL1344.fasta"
      gff_pathogen        = "path_to_references/Salmonella/SL1344.gff"
    }

    'My_Bacteria' {
      fasta_pathogen      = "path_to_references/My_Bacteria/My_Bacteria.fasta"
      gff_pathogen        = "path_to_references/My_Bacteria/My_Bacteria.gff"
    }
}
}
