/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }



    // -----------------------------
    // Prepare reference files
    // -----------------------------
    withName: 'COMBINE_FILES|CREATE_TRANSCRIPTOME_FASTA|CREATE_TRANSCRIPTOME_FASTA_GFFREAD' {
        publishDir = [
            [path: { "${params.outdir}/references" },
                mode: params.publish_dir_mode,
            ]
        ]
    }

    // to stop files being saved
    // if not included, the files end up in a folder called /replace
    withName: 'REPLACE_ATTRIBUTE_GFF_STAR_SALMON_HOST|REPLACE_ATTRIBUTE_GFF_STAR_SALMON_PATHOGEN|REPLACE_GENE_FEATURE_GFF_HOST_HTSEQ|REPLACE_ATTRIBUTE_GFF_HTSEQ_HOST|REPLACE_GENE_FEATURE_GFF_PATHOGEN_HTSEQ|REPLACE_GENE_FEATURE_GFF_HOST_SALMON|REPLACE_GENE_FEATURE_GFF_PATHOGEN_SALMON' {
        publishDir = [ enabled: false ]
    }


    withName: 'UNCOMPRESS_HOST_FASTA_GENOME|UNCOMPRESS_PATHOGEN_FASTA_GENOME|UNCOMPRESS_HOST_GFF|UNCOMPRESS_PATHOGEN_GFF|COMBINE_FILES_PATHOGEN_HOST_GFF' {
        publishDir = [
            [path: { "${params.outdir}/references" },
                mode: params.publish_dir_mode,
            ]
        ]
        ext.prefix = 'uncompressed'
    }

    // .tsv from GFF - Salmon
    withName: 'EXTRACT_ANNOTATIONS_PATHOGEN_SALMON|EXTRACT_ANNOTATIONS_HOST_SALMON' {
        publishDir       = [
            [
                path: { "${params.outdir}/references/salmon" },
                mode: params.publish_dir_mode,
            ]
        ]
    }

    



    // -----------------------------
    // SALMON SA
    // -----------------------------

    if (params.run_salmon_SA) {

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_INDEX' {
            publishDir = [
                path: { "${params.outdir}/salmon_SA/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_QUANT' {
            publishDir = [
                path: { "${params.outdir}/salmon_SA/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_SPLIT_TABLE_EACH' {
            publishDir = [
                path: { "${params.outdir}/salmon_SA/${meta.id}" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_SPLIT_TABLE_COMBINED' {
            publishDir = [
                path: { "${params.outdir}/salmon_SA/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:COMBINE_QUANTIFICATION_RESULTS_SALMON' {
            publishDir = [
                path: { "${params.outdir}/salmon_SA/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:TXIMPORT' {
            publishDir = [
                path: { "${params.outdir}/salmon_SA/${meta.id}" },
                mode: params.publish_dir_mode
            ]
        }
    }


    // -----------------------------
    // SALMON AB
    // -----------------------------

    if (params.run_salmon_AB) {

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:STAR_GENOMEGENERATE' {
            publishDir = [
                path: { "${params.outdir}/salmon_AB/star/" },
                mode: params.publish_dir_mode
            ]
            ext.args = '--sjdbGTFfeatureExon quant --sjdbGTFtagExonParentTranscript parent'
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:STAR_ALIGN' {
            ext.args = """
            --outSAMunmapped ${params.outSAMunmapped} \
            --sjdbGTFfeatureExon ${params.sjdbGTFfeatureExon} \
            --sjdbGTFtagExonParentTranscript ${params.sjdbGTFtagExonParentTranscript} \
            --quantMode ${params.quantMode} \
            --quantTranscriptomeBan ${params.quantTranscriptomeBan} \
            --limitBAMsortRAM ${params.limitBAMsortRAM}
            """.trim()
            publishDir = [
                path: { "${params.outdir}/salmon_AB/star/" },
                mode: params.publish_dir_mode
            ]
        }


        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:SALMON_QUANT' {
            publishDir = [
                path: { "${params.outdir}/salmon_AB/salmon/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:SALMON_SPLIT_TABLE_EACH' {
            publishDir = [
                path: { "${params.outdir}/salmon_AB/salmon/${meta.id}" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:SALMON_SPLIT_TABLE_COMBINED' {
            publishDir = [
                path: { "${params.outdir}/salmon_AB/salmon/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:COMBINE_QUANTIFICATION_RESULTS_SALMON' {
            publishDir = [
                path: { "${params.outdir}/salmon_AB/salmon/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:TXIMPORT' {
            publishDir = [
                path: { "${params.outdir}/salmon_AB/salmon/${meta.id}" },
                mode: params.publish_dir_mode
            ]
        }
    }



    // -----------------------------
    // STAR GENOME
    // -----------------------------

    if (params.run_star) {

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:STAR_ALIGNMENT:STAR_GENOMEGENERATE' {
            publishDir = [
                path: { "${params.outdir}/star/" },
                mode: params.publish_dir_mode
            ]
            ext.args = '--sjdbGTFfeatureExon quant --sjdbGTFtagExonParentTranscript parent'
        }

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:STAR_ALIGNMENT:STAR_ALIGN' {
            ext.args = """
            --outSAMunmapped ${params.outSAMunmapped} \
            --sjdbGTFfeatureExon ${params.sjdbGTFfeatureExon} \
            --sjdbGTFtagExonParentTranscript ${params.sjdbGTFtagExonParentTranscript} \
            --quantMode ${params.quantMode} \
            --limitBAMsortRAM ${params.limitBAMsortRAM}
            """.trim()
            publishDir = [
                path: { "${params.outdir}/star/" },
                mode: params.publish_dir_mode
            ]
        }

    }



    // -----------------------------
    // HTSEQ
    // -----------------------------

    if (params.run_htseq) {

        withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:PREPARE_REFERENCE_FILES:COMBINE_PATHOGEN_HOST_GFF_FILES_HTSEQ' {
            publishDir = [
                path: { "${params.outdir}/references/" },
                mode: params.publish_dir_mode
            ]
        }


    // .tsv from GFF - HTSeq
    withName: 'EXTRACT_ANNOTATIONS_PATHOGEN_HTSEQ|EXTRACT_ANNOTATIONS_HOST_HTSEQ' {
        publishDir = [
            [
                path: { "${params.outdir}/references/htseq" },
                mode: params.publish_dir_mode,
            ]
        ]
    }


    withName: 'HTSEQ_COUNT' {
        publishDir = [
            [
                path: { "${params.outdir}/htseq" },
                mode: params.publish_dir_mode,
            ]
        ]
    }

    }

    // -----------------------------
    // FASTQC
    // -----------------------------
    withName: FASTQC {
        ext.args = '--quiet'
        ext.when         = { !(params.skip_tools && params.skip_tools.split(',').contains('fastqc')) }
        publishDir       = [
            [
                path: { "${params.outdir}/fastqc/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*{html,zip}"
            ]
        ]
    }

    withName: FASTQC_AFTER_TRIMMING {
        ext.args = '--quiet'
        ext.when         = { !(params.skip_tools && (params.skip_tools.split(',').contains('fastqc') || params.skip_tools.split(',').contains('cutadapt'))) }
        publishDir       = [
            [
                path: { "${params.outdir}/fastqc_after_trimming/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*{html,zip}"
            ]
        ]
    }


    // -----------------------------
    // CUTADAPT
    // -----------------------------
    withName: CUTADAPT {
        ext.args = '--quiet'
        ext.when         = { !(params.skip_tools && params.skip_tools.split(',').contains('cutadapt')) }
        publishDir       = [
            [
                path: { "${params.outdir}/cutadapt/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*gz"
            ]
        ]
    }



    // -----------------------------
    // Software Versions
    // -----------------------------
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
