/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/dualrnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    igenomes_ignore            = true

    input                      = "data/samplesheet_test_local.csv"

    host_fasta_genome          = "data/GRCh38.p13_sub.fasta"
    host_gff                   = "data/Human_gencode.v33_sub.gff3"

    pathogen_fasta_transcripts = "data/SL1344_sub_transcriptome.fasta"
    host_fasta_transcripts     = "data/Human_gencode.v33_sub_transcriptome.fasta"
    libtype                    = ""

    pathogen_fasta_genome      = "data/SL1344_sub.fasta"
    pathogen_gff               = "data/SL1344_sub.gff3"

    fastqc                     = true
    cutadapt                   = true
    salmon_sa                  = true
    salmon_ab                  = true
    star                       = true
    htseq                      = true
}
