/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/dualrnaseq -profile test_hackathon,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input  = "data/samplesheet_test_hackathon.csv"

    // Genome references
    // Genome references

    fasta_host  = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/GRCh38.p13_sub.fasta"
    gff_host = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/Human_gencode.v33_sub.gff3"
    gff_host_tRNA = ""
    transcript_fasta = "data/SL1344_sub_transcriptome.fasta"

 //   fasta_pathogen  = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/SL1344_sub.fasta"
 //   gff_pathogen = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/SL1344_sub.gff3"

}
