/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/dualrnaseq -profile test_local,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile with small files'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Ignore igenomes
    igenomes_ignore = true

    //dockerImage  = 'nfcore/python:3.9.5'

    // input  = "https://raw.githubusercontent.com/nf-core/test-datasets/dualrnaseq/spreadsheet/spreadsheet.csv"
    input = "data/samplesheet_test_local.csv"
    //input = "data/samplesheet_validated.csv"

    // Genome references

    // fasta_host  = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/GRCh38.p13_sub.fasta"
    host_fasta_genome  = "data/GRCh38.p13_sub.fasta"
    host_gff = "data/Human_gencode.v33_sub.gff3"
    // gff_host = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/Human_gencode.v33_sub.gff3"
    // gff_host_tRNA = 'data/human.tRNAs.gff'
    pathogen_fasta_transcripts = "data/SL1344_sub_transcriptome.fasta"
    host_fasta_transcripts = "data/Human_gencode.v33_sub_transcriptome.fasta"
    libtype = ""

    // fasta_pathogen  = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/SL1344_sub.fasta"
    // gff_pathogen = "https://github.com/nf-core/test-datasets/raw/dualrnaseq/references/SL1344_sub.gff3"
    pathogen_fasta_genome  = "data/SL1344_sub.fasta"
    pathogen_gff = "data/SL1344_sub.gff3"

}

process {
// Override the label definitions so can run locally
    withLabel:process_single {
    cpus = 1
    memory = 2.GB
    time = '5m'
    }

    withLabel:process_low {
    cpus = 1
    memory = 4.GB
    time = '5m'
    }

    withLabel:process_medium {
    cpus = 2
    memory = 6.GB
    time = '5m'
    }

    withLabel:process_high {
    cpus = 2
    memory = 6.GB
    time = '5m'
    }

    withLabel:process_high_memory {
    cpus = 2
    memory = 6.GB
    time = '5m'
    }
}
