/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/dualrnaseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 4.GB
  max_time = 48.h

  // Input data
  single_end = false

  // run processes

  //run_salmon_selective_alignment = true
  //run_star = true
  //run_salmon_alignment_based_mode = true
  //run_htseq_uniquely_mapped = true
  //mapping_statistics = true


  //salmon
  libtype = "ISF" //paired-end reads

    input_paths = [
    ['sample_01', ['https://raw.githubusercontent.com/nf-core/test-datasets/dualrnaseq/PE_reads/sample_01_1.fq', 'https://raw.githubusercontent.com/nf-core/test-datasets/dualrnaseq/PE_reads/sample_01_2.fq']],
    ['sample_02', ['https://raw.githubusercontent.com/nf-core/test-datasets/dualrnaseq/PE_reads/sample_02_1.fq', 'https://raw.githubusercontent.com/nf-core/test-datasets/dualrnaseq/PE_reads/sample_02_2.fq']],
    ['sample_03', ['https://raw.githubusercontent.com/nf-core/test-datasets/dualrnaseq/PE_reads/sample_03_1.fq', 'https://raw.githubusercontent.com/nf-core/test-datasets/dualrnaseq/PE_reads/sample_03_2.fq']]
  ]



// Genome references
  genomes {
    'test_host' {
      fasta_host  = "https://raw.githubusercontent.com/nf-core/test-datasets/tree/dualrnaseq/references/GRCh38.p13_sub.fasta"
      gff_host = "https://raw.githubusercontent.com/nf-core/test-datasets/tree/dualrnaseq/references/Human_gencode.v33_sub.gff3"
      gff_host_tRNA = ""
    }
    'test_pathogen' {
      fasta_pathogen  = "https://raw.githubusercontent.com/nf-core/test-datasets/tree/dualrnaseq/references/SL1344_sub.fasta"
      gff_pathogen = "https://raw.githubusercontent.com/nf-core/test-datasets/tree/dualrnaseq/references/SL1344_sub.gff3"
    }
  }
genome_host = 'test_host'
genome_pathogen = 'test_pathogen'
}







