/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/dualrnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    // max_cpus   = 2
    // max_memory = '6.GB'
    // max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    //input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'
    igenomes_ignore            = true

    input                      = "data/samplesheet_test_local.csv"

    // Genome references
    //genome = 'R64-1-1'
    host_fasta_genome          = "data/GRCh38.p13_sub.fasta"
    host_gff                   = "data/Human_gencode.v33_sub.gff3"

    pathogen_fasta_transcripts = "data/SL1344_sub_transcriptome.fasta"
    host_fasta_transcripts     = "data/Human_gencode.v33_sub_transcriptome.fasta"
    libtype                    = ""

    pathogen_fasta_genome      = "data/SL1344_sub.fasta"
    pathogen_gff               = "data/SL1344_sub.gff3"
}
