/*
0 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/dualrnaseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  single_end = false

  //salmon
//  libtype = "SF" //single-end reads
  libtype = "ISF" //paired-end reads

/*
  readPaths = [
    ['Testdata', ['https://github.com/nf-core/test-datasets/raw/exoseq/testdata/Testdata_R1.tiny.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/exoseq/testdata/Testdata_R2.tiny.fastq.gz']],
    ['SRR389222', ['https://github.com/nf-core/test-datasets/raw/methylseq/testdata/SRR389222_sub1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/methylseq/testdata/SRR389222_sub2.fastq.gz']]
  ]
*/

// to remove after using test data stored in nf-core 
//  reads = "data/Test_data/fastq/*.fq"
  reads = "data/Test_data/fastqc_pairedEnd/*{1,2}.fq"
  readPaths = null 

}


// Genome references
params {
  genomes {
    'test_host' {
      fasta_host  = "data/Test_data/references/GRCh38.p13.1-29570.fa"
      gff_host = "data/Test_data/references/gencode.v33.11869-29570.annotation.gff3"
      gff_host_tRNA = ""
    }
    'test_pathogen' {
      fasta_pathogen  = "data/Test_data/references/FQ312003_1_15961.fasta"
      gff_pathogen = "data/Test_data/references/FQ312003_169_15961.gff3"
    }
  }
genome_host = 'test_host'
genome_pathogen = 'test_pathogen'
}






