/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/dualrnaseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Run processes when the profile is set to 'test_full'
  single_end = true
  genomes_ignore = true
  run_bbduk = true
  qtrim = "rl"
  run_salmon_selective_alignment = true
  libtype = "A"
  gene_feature_gff_to_create_transcriptome_pathogen = ["CDS","tRNA","rRNA","ncRNA"]
  mapping_statistics = true


  // Input data for full size test
  input_paths = [
    ['Human_Karp_R1', ['https://nf-core-awsmegatests.s3-eu-west-1.amazonaws.com/dualrnaseq/input_data/HUVEC_Karp_R1.fastq.gz']],
    ['Human_Karp_R2', ['https://nf-core-awsmegatests.s3-eu-west-1.amazonaws.com/dualrnaseq/input_data/HUVEC_Karp_R2.fastq.gz']],
    ['Human_Karp_R3', ['https://nf-core-awsmegatests.s3-eu-west-1.amazonaws.com/dualrnaseq/input_data/HUVEC_Karp_R3.fastq.gz']]
  ]

  // Genome references
  genomes {
    'full_test_host' {
      fasta_host  = "https://nf-core-awsmegatests.s3-eu-west-1.amazonaws.com/dualrnaseq/input_data/GRCh38.primary_assembly.genome.fa.gz"
      gff_host = "https://nf-core-awsmegatests.s3-eu-west-1.amazonaws.com/dualrnaseq/input_data/Human_gencode.v35.annotation.gff3.gz"
      gff_host_tRNA = ""
    }
    'full_test_pathogen' {
      fasta_pathogen  = "https://nf-core-awsmegatests.s3-eu-west-1.amazonaws.com/dualrnaseq/input_data/Karp.fasta.gz"
      gff_pathogen = "https://nf-core-awsmegatests.s3-eu-west-1.amazonaws.com/dualrnaseq/input_data/Karp.gff3.gz"
    }
  }

  genome_host = 'full_test_host'
  genome_pathogen = 'full_test_pathogen'

  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'


}
